@{
    ViewBag.Title = "Home Page";
}

<div>
    <label class="block">
        Origem:
        <input id="origin" type="text" />
    </label>
    <label class="block">
        Destino:
        <input id="destination" type="text" />
    </label>
    <label class="block">
        Hora de Saída:
        <input id="departure-time" type="text" />
    </label>
    <label class="block">
        Hora de Chegada:
        <input id="arrival-time" type="text" />
    </label>
</div>