@{
    ViewBag.Title = "Home Page";
}

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

<script>
    var _result;
    function SubmitSuccess(data, textStatus, jqXHR) {
        console.log('Success!');
        _result = data;
        console.log(data);
    }

    function SubmitError(data, textStatus, jqXHR) {
        console.log('Error!');
        console.log(data);
    }

    function Submit() {
        var place = autocompleteOrigin.getPlace();
        var Olong = place.geometry.location.A;
        var Olat = place.geometry.location.k;
        place = autocompleteDest.getPlace();
        var now = new Date();
        var Dlong = place.geometry.location.A;
        var Dlat = place.geometry.location.k;

        var origin = $('#origin').val();
        var destination = $('#destination').val();

        var departureTime = null;
        var arrivalTime = null;

        if ($("#when2").val() == "0")
            departureTime = $("#time").val();
        else
            arrivalTime = $("#time").val();

        var obj = {
            Origin:
            {
                Name: origin,
                Lat: Olat,
                Long: Olong,
            },
            Destination:
            {
                Name: destination,
                Lat: Dlat,
                Long: Dlong,
            },
            DepartureTime: departureTime,
            ArrivalTime: arrivalTime
        };

        $.ajax({
            url: '/farolverde/GetRoute',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(obj),
            contentType: 'application/json; charset=utf-8',
            success: SubmitSuccess,
            error: SubmitError
        });
    }

    function _parseTime(str) {
        if (str && str.length)
            return str.split(":");
    }

    var placeSearch, autocompleteOrigin, autocompleteDest, Route;

    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initialize() {
        // Create the autocomplete object, restricting the search
        // to geographical location types.
        autocompleteOrigin = new google.maps.places.Autocomplete(
            (document.getElementById('origin')),
            { types: ['geocode'] });

        autocompleteDest = new google.maps.places.Autocomplete(
          (document.getElementById('destination')),
          { types: ['geocode'] });
        // When the user selects an address from the dropdown,
        // populate the address fields in the form.
        google.maps.event.addListener(autocompleteOrigin, 'place_changed', function () {
            fillLatLong('origin');
        });

        google.maps.event.addListener(autocompleteDest, 'place_changed', function () {
            fillLatLong('destination');
        });
    }

    // [START region_fillform]
    function fillLatLong(source) {
        // Get the place details from the autocomplete object.
        var input, place;
        if (source == 'origin') {
            place = autocompleteOrigin.getPlace();
            input = $("#divGeoOrigin")
        } else {
            place = autocompleteDest.getPlace();
            input = $("#divGeoDest")
        }

        console.log(source + ' result');
        console.log(place);
        var long = place.geometry.location.A;
        var lat = place.geometry.location.k;
        input.html('Result: ' + lat + ',' + long)
    }

    function fillLatLongDest() {
        var place = autocompleteDest.getPlace();
        console.log('Origin result');
        console.log(autocompleteDest.getPlace());
    }

    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                autocompleteOrigin.setBounds(new google.maps.LatLngBounds(geolocation, geolocation));
                autocompleteDest.setBounds(new google.maps.LatLngBounds(geolocation, geolocation));
            });
        }
    }

    $(function () {
        $('input[type=text]').val('');
        initialize();
    });

    $(document).ready(function () {
        var now = new Date();

        $("#when").val(now.getDate() + "/" + (now.getMonth() + 1) + "/" + now.getFullYear());
        $("#when").datepicker({
            minDate: now
        });
    });
</script>

<div>
    <label for="origin" class="block">
        Origem:
    </label>
    <input id="origin" type="text" placeholder="Enter your address" onfocus="geolocate()" /><div id="divGeoOrigin"></div>

    <label for="destination" class="block">
        Destino:
    </label>
    <input id="destination" type="text" placeholder="Enter your destination" /><div id="divGeoDest"></div>

    <label class="block" for="when">Data:</label>
    <input id="when" type="text" />

    <select id="time">
        <option value="00:00">00:00</option>
        <option value="00:15">00:15</option>
        <option value="00:30">00:30</option>
        <option value="00:45">00:45</option>
        <option value="01:00">01:00</option>
        <option value="01:15">01:15</option>
        <option value="01:30">01:30</option>
        <option value="01:45">01:45</option>
        <option value="02:00">02:00</option>
        <option value="02:15">02:15</option>
        <option value="02:30">02:30</option>
        <option value="02:45">02:45</option>
        <option value="03:00">03:00</option>
        <option value="03:15">03:15</option>
        <option value="03:30">03:30</option>
        <option value="03:45">03:45</option>
        <option value="04:00">04:00</option>
        <option value="04:15">04:15</option>
        <option value="04:30">04:30</option>
        <option value="04:45">04:45</option>
        <option value="05:00">05:00</option>
        <option value="05:15">05:15</option>
        <option value="05:30">05:30</option>
        <option value="05:45">05:45</option>
        <option value="06:00">06:00</option>
        <option value="06:15">06:15</option>
        <option value="06:30">06:30</option>
        <option value="06:45">06:45</option>
        <option value="07:00">07:00</option>
        <option value="07:15">07:15</option>
        <option value="07:30">07:30</option>
        <option value="07:45">07:45</option>
        <option value="08:00">08:00</option>
        <option value="08:15">08:15</option>
        <option value="08:30">08:30</option>
        <option value="08:45">08:45</option>
        <option value="09:00">09:00</option>
        <option value="09:15">09:15</option>
        <option value="09:30">09:30</option>
        <option value="09:45">09:45</option>
        <option value="10:00">10:00</option>
        <option value="10:15">10:15</option>
        <option value="10:30">10:30</option>
        <option value="10:45">10:45</option>
        <option value="11:00">11:00</option>
        <option value="11:15">11:15</option>
        <option value="11:30">11:30</option>
        <option value="11:45">11:45</option>
        <option value="12:00">12:00</option>
        <option value="12:15">12:15</option>
        <option value="12:30">12:30</option>
        <option value="12:45">12:45</option>
        <option value="13:00">13:00</option>
        <option value="13:15">13:15</option>
        <option value="13:30">13:30</option>
        <option value="13:45">13:45</option>
        <option value="14:00">14:00</option>
        <option value="14:15">14:15</option>
        <option value="14:30">14:30</option>
        <option value="14:45">14:45</option>
        <option value="15:00">15:00</option>
        <option value="15:15">15:15</option>
        <option value="15:30">15:30</option>
        <option value="15:45">15:45</option>
        <option value="16:00">16:00</option>
        <option value="16:15">16:15</option>
        <option value="16:30">16:30</option>
        <option value="16:45">16:45</option>
        <option value="17:00">17:00</option>
        <option value="17:15">17:15</option>
        <option value="17:30">17:30</option>
        <option value="17:45">17:45</option>
        <option value="18:00">18:00</option>
        <option value="18:15">18:15</option>
        <option value="18:30">18:30</option>
        <option value="18:45">18:45</option>
        <option value="19:00">19:00</option>
        <option value="19:15">19:15</option>
        <option value="19:30">19:30</option>
        <option value="19:45">19:45</option>
        <option value="20:00">21:00</option>
        <option value="20:15">21:15</option>
        <option value="20:30">21:30</option>
        <option value="20:45">21:45</option>
        <option value="21:00">21:00</option>
        <option value="21:15">21:15</option>
        <option value="21:30">21:30</option>
        <option value="21:45">21:45</option>
        <option value="22:00">22:00</option>
        <option value="22:15">22:15</option>
        <option value="22:30">22:30</option>
        <option value="22:45">22:45</option>
        <option value="23:00">23:00</option>
        <option value="23:15">23:15</option>
        <option value="23:30">23:30</option>
        <option value="23:45">23:45</option>
    </select>

    <select id="when2">
        <option value="0">Saída às</option>
        <option value="1">Chegada às</option>
    </select>

    <button type="button" onclick="Submit()">Pesquisar</button>
</div>
