body {
}

.header {
    height: 55px;
    background-color: green;
}

input[type=text] {
    width: 400px;
}

.block {
    display: block;
}

.block * {
    display: block;
}

.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    font-size: 10px;
}

#when {
    width: 81px;
}

#destination {
    margin-bottom: 15px;
}

#fuel-value {
    width: 100px;
}

select {
    padding: 3px;
}

.fb_iframe_widget {
    float: right;
    padding: 10px;
}