body {
    padding-top: 50px;
    padding-bottom: 20px;
}

input[type=text] {
    width: 400px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.block {
    display: block;
}

.block * {
    display: block;
}

.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
    font-size: 10px;
}

#when {
    width: 134px;
}

#time {
    padding: 3px;
}